:root{
    font-size: 1em;
    font-family: Roboto;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    margin-bottom: 3000px;
    padding-top: 5rem;
    padding-left: 6rem;
    background-color: #f4f4f4;
}

p {
    margin-top:0;
    margin-bottom:0;
}